 .carouselSection {
    width: 100%;
}


.carouselContainer{
    background-color: var(--color-wheat);
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carouselItem{
    height: 50vh;
    min-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s cubic-bezier(0.39,0.575, 0.565, 1)
} 