.contactSection {
    background-color: var(--color-lightblue);
    color: var(--color-black);
    width: 100%;
    min-height: 100vh;
    width: 100%;
    scroll-margin-top: 57px;
}

.triangle{
    width: 0;
    height: 0;
    border-top: 100px solid var(--color-wheat);
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;    
}

.innerSection {
    width: 80%;
    height: auto;
    max-width: 900px;
    margin: auto;
} 

.contactSection h1, h3 {
    display: flex;
    justify-content: center;
}

.contactSection h1 {
    padding: 40px 0px 30px;
    font-size: xx-large;
}

.description p{
  display: block;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.contactSection .button {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 10px auto;
    background-color: var(--color-blue);
    color: var(--color-wheat);
    padding: 12px 30px;
    border-radius: 10px;
    transition-duration: 0.4s;
    min-width: 150px;
    cursor: pointer;
    border: none;
}

.contactSection .button a {
    color: inherit;
    text-decoration: inherit;
    
}

.button:hover {
    background-color: var(--color-black);
    color: var(--color-wheat);
    text-decoration: none;
    text-shadow: 0.5px 0.5px 1px var(--color-grey);
}


.icons {
    display: flex;
    justify-content: center;
}
.icons a{
    display: inline-flex;
    justify-content: center;
    margin: 18px 30px;
}

.icon:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    transform: scale(1.2);
    fill: var(--color-black);
}

.icon {
    fill: var(--color-blue);
    height: 35px;
}

@media only screen and (min-width: 900px) {
    .innerSection h1 {
        justify-content: flex-start;
    }


    .alignleft{
        display: flex;
        align-items: center;
    }

    .icons{
        justify-content: flex-start;

    }

    .icon{
        padding-top: 3px;
        height: 46px;
        padding-bottom: -3px; 
    } 

    .icons a {
        margin-left: 80px ;
        margin-right: 0px;
    }
}