.contactSection {
    background-color: var(--color-lightblue);
    color: var(--color-black);
    width: 100%;
    min-height: 100vh;
    width: 100%;
    scroll-margin-top: 57px;
}

.innerSection {
    width: 80%;
    height: auto;
    max-width: 900px;
    margin: auto;
} 

.contactSection h1, h3 {
    display: flex;
    justify-content: center;
}

.contactSection h1 {
    padding: 40px 0px 30px;
    font-size: xx-large;
}

.description p{
  display: block;
}

.description a {
    color: inherit;
    text-decoration:inherit;
}

.button {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 10px auto;
    background-color: var(--color-blue);
    color: var(--color-wheat);
    padding: 12px 30px;
    border-radius: 10px;
    transition-duration: 0.4s;
    min-width: 150px;
    cursor: pointer;
    border: none;
}

.button a {
    color: inherit;
    text-decoration: inherit;
    
}

.button:hover {
    background-color: var(--color-black);
    color: var(--color-wheat);
    text-decoration: none;
    text-shadow: 0.5px 0.5px 1px var(--color-grey);
}

.icons {
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    margin: auto;
}

.icon:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    transform: scale(1.2);
    fill: var(--color-black);
}

.icon {
    fill: var(--color-blue);
    height: 35px;
    margin: 10px 20px;
}