footer {
    background-color: var(--color-grey);
    color: var(--color-wheat);
    font-size: 12px;  
}

.upwards{
    display: flex;
    justify-content: center;
    padding: 20px 0px 8px 0px;
}
.icons{
    display: flex;
    justify-content: center;
    padding: 8px 0px
}

.icons p {
    padding: 5px 10px;
}

.impressum{
    text-align: center;
    padding: 10px 0px 20px;
}

.impressum p {
    padding: 3px 0px; 
}