footer {
    background-color: var(--color-grey);
    color: var(--color-wheat);
    font-size: 12px;
}

.upwards {
    display: flex;
    justify-content: center;
    padding: 20px 0px 8px 0px;
}

.upbutton{
    background-color: var(--color-blue);
    height: 72px;
    width: 72px;
    
    border-radius: 10px;
    border: none;
}

.upbutton:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    transform: scale(1.2);
    opacity: 0.75;
}

.arrow{
    fill: var(--color-wheat);
    height: 55px;
    stroke: var(--color-blue);
    stroke-width: 10px;
}

.icons {
    display: flex;
    justify-content: center;
    padding: 10px 20px 0px;
    margin: auto;
}

.icon:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    transform: scale(1.2);
    fill: var(--color-blue);
}

.icon {
    fill: var(--color-wheat);
    height: 30px;
    margin: 10px 20px;
}

.impressum {
    text-align: center;
    padding: 2px 0px 20px;
}

.impressum p {
    padding: 3px 0px;
}

@media only screen and (max-width: 400px) {
    .upbutton {
        
        height: 50px;
        width: 50px;
    }

    .arrow {
        height: 40px;
    }
}