footer {
    background-color: var(--color-grey);
    color: var(--color-wheat);
    font-size: 12px;
}

.upwards {
    display: flex;
    justify-content: center;
    padding: 20px 0px 8px 0px;
}

.icons {
    display: flex;
    justify-content: center;
    padding: 10px 20px 0px;
    margin: auto;
}

.icons a {
   margin: 10px 20px;
}



.icon {
    fill: var(--color-wheat);
    height: 30px;
}

.impressum {
    text-align: center;
    padding: 2px 0px 20px;
}

.icon:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    transform: scale(1.2);
    fill: var(--color-blue);
}

.impressum p {
    padding: 3px 0px;
}

@media only screen and (max-width: 400px) {
    .upbutton {
        
        height: 50px;
        width: 50px;
    }

    .arrow {
        height: 40px;
    }
}