.title {
    padding: 10px 20px;
    font-weight: bold;
}

.titleAndDropdown {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.button{
    border: none; 
    background-color: transparent;
    cursor: pointer;
}

.burgerMenu {
    color: var(--color-wheat);
    margin: 10px 20px;
}

.burgerMenu:hover{
    color: var(--color-black);
    transform: scale(1.2);
}

.navigation {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--color-wheat);
    text-align: center;
}

.navigation ul {
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
}

.navigation li {
    padding: 10px 12px 10px 10px;
    border-style: solid;
    border-width: 1px;
    transition-duration: 0.5s;
}

.navigation li:hover {
    border-style: solid var(--color-wheat);;
    border-width: 1px;
    background-color: var(--color-lightblue);
    color: var(--color-black);
    text-shadow: 0.5px 0.5px 1px var(--color-black);
}

.navigation a {
    color: inherit;
    text-decoration: inherit;
}

.sectionListOpen{
    position: absolute;
    z-index: 200;
    width: 100%;
    left: 0;
    background: var(--color-grey)

}

.sectionListClosed{
    display: none;
}

.closeButton{
    color: var(--color-black);
    border: none;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;

}