.projectsSection {
    background-color: var(--color-grey);
    color: var(--color-black);
    min-height: 100vh;
    width: 100%;
}

.innerSection {
    width: 80%;
    height: auto;
    max-width: 900px;
    margin: auto;
}

.projectsSection h1,h3,p {
    display: flex;
    justify-content: center;
}

.projectsSection h1 {
    padding: 40px 0px 30px;
    font-size: xx-large;
}