* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-lightblack: #1E1E1E;
    --color-wheat: #F5E0B7;
    --color-grey: #857E7B;
    --color-lightblue: #90D7FF;
    --color-blue: #0A369D;
    --font-family-sketch: 'Cabin Sketch';
    --font-family-krub: 'Krub', sans-serif;
    }

h1{
  font-family: var(--font-family-sketch);  
}